<div>
    <div class="checkoutHeader">
        <h1 >Cart</h1>
        <a href="/products"><h2>Continue Shopping</h2></a>
    </div>
    <form class="checkoutForm">
    <table>
    <tr>
      <th>Product</th>
      <th style="width:45%">Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    {{#each products as |product|}}
    <tr>
      <td>  <img src="/images/{{product.filename}}" alt="{{product.filename}}"></td>
      <td>{{product.product_title}}</td>
      <td>{{product.price}}</td>
          <td><input type="number" id="quantity" name="quantity" min="1" max="100" value='{{product.product_quantity}}'>
          <button id="removeBtn">Remove</button>
          </td>
      <td id="total">{{total}}</td>
    </tr>
    {{/each}}
  <tr style="border-bottom: white;">
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td><h3>Subtotal:</h3></td>
    <td>{{Subtotal}}</td>
  </tr>
</table>
<div class="btnGroup">
<button id="updateCartBtn">Update Cart</button>
<button type="submit" id="checkoutBtn">Checkout</button>
</div>
</div> </form>
</div>
