<h1 class="shopTitle">{{product_title}}</h1>

<div class="itemDiv">
        <img class="itemImg" src="/images/{{filename}}" alt="{{filename}}">
    <div class="itemDescription">
        <h2 class="price">${{price}}</h2>
        <h3>Description</h3>
        <p>{{description}}</p>
    </div>    
</div>