<h1 class="shopTitle">Merchandise</h1>

<div class="productsDiv">

{{#each products as |product|}}
    <div class="productCard">
        <div class="productHeader">
            <h1>{{product.product_title}}</h1>
            <h2 class="price">${{product.price}}</h2>
        </div>
        <a href="./products/{{product.id}}">
        <img class="productImg" src="./images/{{product.filename}}" alt="{{product.filename}}">
        </a>
    </div>
{{/each}}

</div>