<div>
    <div>
        <h1>{{product_title}}</h1>
        <h2>{{price}}</h2>
    </div>
        <img src="/images/{{filename}}" alt="{{filename}}">
    <div>
        <h3>Description:</h3>
        <p>{{description}}</p>
        <form id='addToCartForm'>
        <label for="quantity">Quantity</label>

<input type="number" id="quantity" name="quantity"
       min="1" max="100" value='1'><br>
       Size
<select id='size' name='size'>
   <option value="S">S</option>
    <option value="M">M</option>
    <option value="L">L</option>
</select>
    <button type='submit' id='addToCartBtn'>Add to Cart </button>

</form>

    </div>    
</div>
